body{
    background-color:rgb(154, 178, 202) ;
}
hr{
    margin: 50px 0px 50px 0px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color:yellow;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
ol,ul,img,p{
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 33, 33);}

*{
    margin:0;
    padding:0;
}